@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Archivo:100,200,300,400,500,600,700');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  background-color: #4243E4;
}

body {
  font-family: "Roboto", sans-serif;;
  color: #000000;
}

img {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 300px;
}
/*----------------------------------------------------header styling*/
h2 {
  font-family: "Archivo", sans-serif;;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fafafa;
}

#logo {
  text-align: center;
  font-size: 280%;
  padding-top: 30px;
  text-decoration: none;
}

#menu {
  font-size: 110%;
  list-style-type: none;
  letter-spacing: 2px;
  padding-bottom: 10px;
}

#menu li {
  text-align: center;
  padding: 10px;
}

#menu a {
  text-decoration: none;
  color: #fafafa;
}

#menu a:hover {
  border-bottom: 1px solid #fafafa;
}

.active {
  border-bottom: 1px solid #fafafa;
}
/* pasted from google chrome inspector tools changed text-decoration to none the underline link in my logo wasn't dissapearing after putting text-decoartion:none so i looked on chrome inspector tools */
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
}
/* ---------------------------------------------------------- home page top section styling*/ 
h1 {
  font-size: 250%;
  font-family: "Archivo", sans-serif;;
  padding: 8% 0 5% 0;
  text-align: center;
} 

p {
  margin: 0 20px 0 20px;
  padding-bottom: 10%;
  text-align: left;
}

.imgboys {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
}
/*-----------------------------------hp section2 styling*/
.section2 {
  background-color: #CBCCF8;
  margin: 2% 0 10% 0;
}

.section2 p {
  padding-top: 40px;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
/*------------------------------------------------------------footer styling*/
/*-----------------------from code instutute love running project, edited to fit my website*/
footer {
  background-color:#4243E4;
}

.socials {
  text-align: center;
}

.socials li{
  display: inline;
}

.socials i{
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #fefefe;
}
/*------------------------------------------------------------------------signs page styling*/
ul li {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 110%;
}

.bulletpoints {
  margin-left: 2em;
  margin-right: 4%;
  text-align: left;
}

.signheading {
  color: #000000;
  text-transform: none;
  letter-spacing: normal;
}

.signssect {
  text-align: center;
  margin-top: 4em;
}
/*------------------------------------------------------------------------contact us page styling*/
#formbg {
  background-color:#CBCCF8;
  padding-top: 20%;
  padding-bottom: 25%;
}
/*----------code copied and edited to fit webistes need credited in my credits section in readme.md file*/
form {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin: auto;
}

form label, textarea, input {
   margin-top: 10px;
}

input, textarea {
  border: 1px solid #333333;
  border-radius: 4px;
  padding: 10px;
}
/*-------------------------*/
#submit {
  margin-top: 10px;
  padding: 10px;
  background-color:#fafafa;
  color: #000000;
  border: 1px solid #333333;
  border-radius: 4px;
  font-size: 110%;
  margin-bottom: 125px;
}
#contactfooter {
  margin-top: 0;
  margin-bottom: 0;
}
/*--------------thankyou page*/
h1#tyheader {
  padding-top: 15%;
  text-align: center;
}

.thankyouimg {
  padding-bottom: 20%;
  text-align: center;
}

.thankyoup {
  padding-top: 10%;
  text-align: center;
}

p#thankyoup {
  text-align: center;
  margin: 0;
  padding-top: 5%;
}
/*------------------------------------------------------------media queries*/
@media screen and (min-width: 768px) {
  
  img {
    width: 420px;
  }

  h1 {
    font-size: 280%;
  }
 /*-------------header*/
  h2#logo {
    font-size: 350%;
  }

  ul#menu {
    font-size: 130%;
  }
  /*----------homepage*/
  img.imgboys {
    padding-bottom: 0;
  }

  iframe {
    width: 420px;
    height: 300px;
  }
  /*-----------signspage*/
  h2.signheading {
    font-size: 190%;
  }
  
  .bulletpoints , p {
    font-size: 130%;
  }
  /*--------thankyoupage*/
  h1#tyheader {
    padding-top: 30%;
  }
  
  p#thankyoup {
    padding-top: 5%;
  }

  .thankyouimg {
    padding-top: 3%;
  }
}

@media screen and (min-width: 1400px) {

  footer {
    margin-top: 5%;
  }
  /*-------------------navbar*/
  #logo, #menu {
    text-align: left;
    margin-left: 2%;
  } 

  #menu li {
    display: inline;
    font-size: 130%;
  }
  
  h2#logo {
    font-size: 280%;
  }

  ul#menu {
    font-size: 110%;
  }
  /*-------------------home page*/
  .left {
    text-align: left;
    padding: 5%;
  }

  p.left {
    padding-top: 20px;
  }
  
  h1 {
    margin-left: 2.2%;
    font-size: 260%;
  } 

  p {
    margin-left: 2em;
    font-size: 110%;
    padding-right: 10%;
  }
  
  p#hpgp {
    padding-bottom: 2%;
  }
  
  .imgboys {
    float: right;
    width:425px;
    margin-top: 6em;
  }

  #autismvideo {
    display: flex;
    justify-content: center;
  }
  
  iframe {
    width: 460px;
    height: 300px;
    margin-bottom: 3em;

  }
  /*-----------------------signs page*/
  #noshowdt {
    display: none;
  }

  #left {
    padding-top: 10px;
    margin-top: 20px;
    width: 33%;
    float: left;
  }

  #right {
    padding-top: 10px;
    margin-top: 20px;
    width: 33%;
    float: right;
  }

  #center {
    width: 30%;
    margin: 0 auto;
    padding-bottom: 5%;
  }
  
  ul.bulletpoints {
    text-align: center;
    font-size: 100%;
  }

  #autismgirls {
    font-size: 110%;
  }

  p#autismgirls {
    padding-bottom: 0;
  }

  .rightgirls {
    width: 350px;
  }

  h2.signheading { 
    font-size: 1.5em;
  }
  /*----------------contact us page*/
  #formbg {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  /*----------------thankyou page*/
  h1#tyheader {
    padding-top: 10%;
  }

  p#thankyoup {
    text-align: center;
    padding-top: 0;
    padding-bottom: 1%;
    padding-right: 0;
  }

  .thankyouimg {
    padding-top: 2%;
    padding-bottom: 1%;
  }
}

